<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="jugador.component.css">
</head>

<body>
    <div class="ca">
        <h1>Infografía james</h1>

        <img src="assets/img/james.jpg" class="rounded mx-auto d-block" alt="...">
        <div class="p">
            <p>Nombre:"James Rodriguez"</p>
            <p>bio:"futbolista colombiano, que juega como centrocampista y su equipo actual es Al Rayyan S. C. de la Qatar Stars League. Recibió en 2009, 2012 y 2014 el premio de jugador revelación de la Primera División de Argentina y en la Primeira Liga
                de Portugal."</p>
            <p>nacimiento:"12 de julio de 1991"</p>
            <p>seleccion:"Colombia"</p>
            <p>equipo:"Everton"</p>
        </div>
    </div>
    <div class="botonA">
        <a class="btn btn-primary btn-lg" role="button" routerLink="/jugadores">volver a Home</a>
    </div>
</body>

</html>